// _layout.scss

$main-bg-color: #f2edde;

.main-content {
	padding-top: 70px;
}

.content-box {
	padding: 1em 2em;
}

.input-column {
	background-color: $main-bg-color;
}

.output-column {
	background-color: lighten( $main-bg-color, 4% );
}

.writing-check-input {
	height: 200px;
	@include breakpoint(md) { height: 400px; }
}

.definitions-list .content-box {
	padding: 0;
}

.definitions-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.definitions-list ul li {
	padding: 1.2em 1em;
	cursor: pointer;
	-moz-box-shadow:    inset -3px 0px 2px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset -3px 0px 2px 0px rgba(0,0,0,0.5);
  box-shadow:         inset -3px 0px 2px 0px rgba(0,0,0,0.5);
}

.definitions-list ul li.active {
	padding: 1.2em 1em;
	cursor: pointer;
	-moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
}

.description {
	display: none;
}

.description.active {
	display: block;
}

