// _layout.scss

$main-bg-color: #f2edde;

.main-content {
	padding-top: 70px;
}

.input-column {
	background-color: $main-bg-color;
	padding: 1em 2em;
}

.output-column {
	background-color: lighten( $main-bg-color, 4% );
	padding: 1em 2em;
}

.writing-check-input {
	height: 200px;
	@include breakpoint(md) { height: 400px; }
}