// _typography.scss

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: $body-font;
}

h1, .h1 {
	font-family: $body-font;
	font-weight: bold;
	font-size: 1.6em;
	@include breakpoint(md) { font-size: 2em; }
}

.pure-form .check-box-options .pure-checkbox {
	padding: .3em;
	margin: .5em .2em;
}

.check-box-options i {
	background-color: #333;
	border-radius: 2px;
	padding: 0 2px;
	line-height: 19px;
}

.adverb {
	background-color: #1abc9c;
}

.filler-words {
	background-color: #2ecc71;
}

.passive-voice {
	background-color: #3498db;
}

.point-of-view {
	background-color: #9b59b6;
}

.lexical-illusions {
	background-color: #e67e22;
}

.misused-words {
	background-color: #e74c3c;
}

.ui-tooltip {
	background-color: $main-bg-color-lighter;
	padding: 10px 20px;
  font: normal .8em $body-font;
  box-shadow: 0 0 7px black;
  border: 1px solid $main-bg-color-darker;
}