// _typography.scss

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: 'Merriweather', serif;
}

h1, .h1 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 1.6em;
	@include breakpoint(md) { font-size: 2em; }
}

.adverb {
	background-color: #fff;
}