// _typography.scss

html, button, input, select, textarea {
	font-family: $body-font;
}

body {
	color: $body-color;
	line-height: 1.4;
	margin: 0;
}

.content-box a:link, .content-box a:visited {
	color: $link-color;
}

.content-box a:hover {
	color: $link-hover;
}

h1, .h1 {
	padding: .5em 1em;
    color: #565d64;
    text-transform: uppercase;
	font-family: $body-font;
	font-weight: bold;
    text-align: center;
    margin: 0;
	font-size: 1.6em;
	@include breakpoint(md) { font-size: 3em; }
}

h2, .h2 {
	color: #222;
}

.checkbox {
    padding: .3em;
    margin: .5em .2em;
    display: block;
}

.check-box-options i {
	background-color: #333;
	border-radius: 2px;
	padding: 0 2px;
	line-height: 19px;
}

.adverb {
	background-color: #FF9999;
}

.filler-words {
	background-color: #FFCC99;
}

.redundant-words {
	background-color: #FFFF99;
}

.passive-voice {
	background-color: #CCFF99;
}

.to-be-verbs {
	background-color: #99FF99;
}

.lexical-illusions {
	background-color: #99FFCC;
}

.misused-words {
	background-color: #99FFFF;
}

.pronoun {
	background-color: #99CCFF;
}

// See: https://www.rapidtables.com/web/color/Web_Color.html
// future colors: #9999FF #CC99FF #FF99FF #FF99CC #E0E0E0

.ui-tooltip {
	background-color: $main-bg-color-lighter;
	padding: 10px 20px;
  font: normal .8em $body-font;
  box-shadow: 0 0 7px black;
  border: 1px solid $main-bg-color-darker;
}

fieldset {
	margin: 0;
    padding: .35em 0 .75em;
    border: 0;
}
