*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-content {
  padding-top: 70px; }

.input-column {
  background-color: #f2edde;
  padding: 1em 2em; }

.output-column {
  background-color: #f8f5ed;
  padding: 1em 2em; }

.writing-check-input {
  height: 200px; }
  @media (min-width: 48em) {
    .writing-check-input {
      height: 400px; } }

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: "Merriweather", serif; }

h1, .h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.6em; }
  @media (min-width: 48em) {
    h1, .h1 {
      font-size: 2em; } }

.pure-form .check-box-options .pure-checkbox {
  padding: .3em;
  margin: .5em .2em; }

.check-box-options i {
  background-color: #333;
  border-radius: 2px;
  padding: 0 2px;
  line-height: 19px; }

.adverb {
  background-color: #1abc9c; }

.filler-words {
  background-color: #2ecc71; }

.passive-voice {
  background-color: #3498db; }

.pronoun {
  background-color: #9b59b6; }

.lexical-illusions {
  background-color: #e67e22; }

.misused-words {
  background-color: #e74c3c; }

.ui-tooltip {
  background-color: #f8f5ed;
  padding: 10px 20px;
  font: normal 0.8em "Merriweather", serif;
  box-shadow: 0 0 7px black;
  border: 1px solid #ece5cf; }
