<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A tool to check creative and technical writing for potential improvements.">
  <meta name="theme-color" content="#317EFB"/>

  <title>Editsaurus by Tyler Walters</title>

  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Gentium+Book+Basic:400,700,400italic' rel='stylesheet' type='text/css'>
  <script src="js/jquery-1.8.1.min.js"></script>
  
  <link rel="stylesheet" href="../dist/css/style.min.css" inline>

  <link rel="preload" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic"></noscript>

  <script>
    /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
    !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(b){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
    !function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
  </script>
</head>

<body ng-app="editSaurus">

<div class="editsaurus" itemscope itemtype="http://schema.org/WebApplication">
  <meta itemprop="applicationCategory" content="Tool, Writing">
  <meta itemprop="applicationCategory" content="Editing">
  <meta itemprop="operatingSystem" content="OSX, iOS, Android, Windows, Linux">

  <div class="header">
    <h1 itemprop="name">Editsaurus</h1>
  </div>

  <div id="check" class="main-content row" check-text>
    <div class="input-column">
      <div class="content-box">
        <form id="writing-check-form" class="stacked">
          <fieldset>
            <div id="writing-check-input" class="writing-check-input" ng-keyup="processText()" contenteditable="true">Enter text here.</div>
            <div class="row">
              <div class="check-box-options">
                <label for="check-adverb" class="checkbox adverb" data-tooltip="Highlights adverbs that could be omitted or replaced with a stronger verb.">
                  <input id="check-adverb" type="checkbox" value="adverb" ng-click="toggleCheck('adverb')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Adverbs
                </label>
                <label for="check-filler" class="checkbox filler-words" data-tooltip="Highlights words that may be unnecessary and not add anything of value.">
                  <input id="check-filler" type="checkbox" value="fillerWords" ng-click="toggleCheck('fillerWords')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Filler Words
                </label>
                <label for="redundant-words" class="checkbox redundant-words" data-tooltip="Highlights redundant words that may be unnecessary and not add anything of value.">
                  <input id="redundant-words" type="checkbox" value="redundant" ng-click="toggleCheck('redundantWords')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Redundant Words
                </label>
                <label for="check-passive" class="checkbox passive-voice" data-tooltip="Highlights possible instances of passive voice.">
                  <input id="check-passive" type="checkbox" value="passiveVoice" ng-click="toggleCheck('passiveVoice')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Passive Voice
                </label>
                <label for="check-to-be-verbs" class="checkbox to-be-verbs" data-tooltip="Highlights possible instances of to be verbs.">
                  <input id="check-to-be-verbs" type="checkbox" value="toBeVerbs" ng-click="toggleCheck('toBeVerbs')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; To Be Verbs
                </label>
                <label for="check-lexical" class="checkbox lexical-illusions" data-tooltip="Highlights possible lexical illusions (duplicate words).">
                  <input id="check-lexical" type="checkbox" value="lexicalIllusions" ng-click="toggleCheck('lexicalIllusions')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Lexical Illusions
                </label>
              </div>
              <div class="check-box-options">
                <label for="check-nominalizations" class="checkbox nominalizations" data-tooltip="Highlights possible nominalizations (verbs as nouns).">
                  <input id="check-nominalizations" type="checkbox" value="nominalizations" ng-click="toggleCheck('nominalizations')"><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Nominalizations
                </label>
                <label for="check-misused" class="checkbox misused-words" data-tooltip="Highlights common mistaken words. (there/their/they're, your/you're, its/it's, whose/who's">
                  <input id="check-misused" type="checkbox" value="misusedWords" ng-click="toggleCheck('misusedWords')"><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Misused Words
                </label>
                <label for="pronoun" class="checkbox pronoun" data-tooltip="Highlights pronouns so they can be double checked for clarity.">
                  <input id="pronoun" type="checkbox" value="pronoun" ng-click="toggleCheck('pronoun')"><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Pronouns
                </label>
                <label for="pompous-words" class="checkbox pompous-words" data-tooltip="Highlights pompous words/phrases that may have an easier alternative.">
                  <input id="pompous-words" type="checkbox" value="pompousWords" ng-click="toggleCheck('pompousWords')"><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Pompous Words
                </label>
                <label for="negative-words" class="checkbox negative-words" data-tooltip="Highlights negative words that may be rephrased in a positive way.">
                  <input id="negative-words" type="checkbox" value="negativeWords" ng-click="toggleCheck('negativeWords')"><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Negative Words
                </label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="output-column">
      <div class="content-box">
        <div id="writing-check-output" ng-bind-html="output">
        </div>
      </div>
    </div>
  </div>

  <div id="definitions" class="definitions row" definition-list>
    <div class="definitions-list">
      <div class="content-box">
        <ul itemprop="featureList">
          <li class="adverb" ng-class="{'active': currentDefinition === 'adverb'}" ng-click="currentDefinition = 'adverb'">Adverbs</li>
          <li class="filler-words" ng-class="{'active': currentDefinition === 'filler-words'}" ng-click="currentDefinition = 'filler-words'">Filler Words</li>
          <li class="redundant-words" ng-class="{'active': currentDefinition === 'redundant-words'}" ng-click="currentDefinition = 'redundant-words'">Redundant Words</li>
          <li class="passive-voice" ng-class="{'active': currentDefinition == 'passive-voice'}" ng-click="currentDefinition = 'passive-voice'">Passive Voice</li>
          <li class="to-be-verbs" ng-class="{'active': currentDefinition == 'to-be-verbs'}" ng-click="currentDefinition = 'to-be-verbs'">To Be Verbs</li>
          <li class="lexical-illusions" ng-class="{'active': currentDefinition == 'lexical-illusions'}" ng-click="currentDefinition = 'lexical-illusions'">Lexical Illusions</li>
          <li class="nominalizations" ng-class="{'active': currentDefinition == 'nominalizations'}" ng-click="currentDefinition = 'nominalizations'">Nominalizations</li>
          <li class="misused-words" ng-class="{'active': currentDefinition == 'misused-words'}" ng-click="currentDefinition = 'misused-words'">Common Misused Words</li>
          <li class="pronoun" ng-class="{'active': currentDefinition == 'pronoun'}" ng-click="currentDefinition = 'pronoun'">Pronouns</li>
          <li class="pompous-words" ng-class="{'active': currentDefinition == 'pompous-words'}" ng-click="currentDefinition = 'pompous-words'">Pompous Words</li>
          <li class="negative-words" ng-class="{'active': currentDefinition == 'negative-words'}" ng-click="currentDefinition = 'negative-words'">Negative Words</li>
        </ul>
      </div>
    </div>
    <div class="definitions-description" ng-class="currentDefinition">
      <div class="content-box">
        <div class="adverb-description description" ng-class="{'active': currentDefinition === 'adverb'}">
          <h2>Adverbs</h2>
          <ul>
            <li>-ly</li>
          </ul>
          <p>It is well known that Ernest Hemingway avoided adverbs. His minimalist style didn't have room for superfluous words. Steven King said, "I believe the road to hell is paved with adverbs, and I will shout it from the rooftops," in his book 'On Writing'. </p>
          <p>Adverbs tend to be unnecessary. They can be redundant, slow down the action, or amplify verbs that don't need to be amplified. You can often replace an adverb and the verb it modifies with a stronger verb or, if the verb is strong enough to stand alone anyway, remove the adverb and leave the verb intact.</p>
          <ul><li><em>She <u>looked sternly</u> at her classmate. </em>versus</li><li><em>She <u>glared</u> at her classmate.</em></li></ul>
          or,
          <ul><li><em>The mouse <u>ran quickly</u> through the forest.</em> versus</li><li><em>The mouse <u>scampered</u> through the forest. </em></li></ul>
          or,
          <ul><li><em>The politician <u>listened secretly</u> while the opposing side discussed their plans.</em> versus</li><li><em>The politician <u>eavesdropped</u> while the opposing side discussed their plans.</em></li></ul>
          <p>Further reading: <a href="http://www.quickanddirtytips.com/education/grammar/how-to-eliminate-adverbs">How to Eliminate Adverbs</a></p>
        </div>
        <div class="filler-words-description description" ng-class="{'active': currentDefinition === 'filler-words'}">
          <h2>Filler Words</h2>
          <ul>
            <li>very, several, some, many, most, few, vast, just, quite, often, various, a number of, really, so, that, and then, but</li>
          </ul>
          <p>These words rarely add anything of value to your writing. They inflate the word count at the cost of readability. You can make your writing leaner and more precise by omitting as filler words when possible.</p>
          <p>You could add more words to this list. Also, not every occurrence of a word on this list is going to need to be removed either. This check is a quick reference. Start by considering whether you need these words and apply that mentality throughout your writing. </p>
          <p>Further reading: <a href="http://writingcenter.unc.edu/handouts/style/">Style at UNC Writing Center</a> (read the section on wordiness)</p>
        </div>
        <div class="redundant-words-description description" ng-class="{'active': currentDefinition === 'redundant-words'}">
          <h2>Redundant Words</h2>
          <ul>
            <li>Pleonasms: the use of more words than are necessary to convey meaning (e.g. see with one's eyes), either as a fault of style or for emphasis.</li>
          </ul>
          <p>We can cut clutter in our writing by eliminate repetitious expressions. They can be overlooked because we often see and hear redundancies, such as "free gifts" and "12 noon".  We should lookout for needless repetition and eliminate expressions which add no additional value.</p>
        </div>
        <div class="passive-voice-description description" ng-class="{'active': currentDefinition === 'passive-voice'}">
          <h2>Passive Voice</h2>
          <ul>
            <li>(is, isn't, are, aren't, am, am not, was, wasn't, were, weren't, had, hadn't, has been, have been, had been, will be, being) + past particle</li>
          </ul>
          <p>These words can be indicators of passive voice. Passive voice occurs when you make the object of action into the subject of a sentence. </p>
          <p>Passive voice is not always bad. However, it can affect the clarity or weaken the impact of a sentence. It can often be replaced with an active sentence structure to improve the writing. </p>
          <p>Further reading: <a href="http://writingcenter.unc.edu/handouts/passive-voice/">Passive Voice at UNC Writing Center</a></p>
        </div>
        <div class="lexical-illusions-description description" ng-class="{'active': currentDefinition === 'lexical-illusions'}">
          <h2>Lexical Illusions</h2>
          <ul>
            <li>duplicate words</li>
          </ul>
          <p>A lexical illusion is a duplicate word our brains filter out when going from one line to the next. This makes catching these issues when reading or editing difficult. This check highlights any duplicate words to allow you to check that they are correct.</p>
        </div>
        <div class="nominalizations-description description" ng-class="{'active': currentDefinition === 'nominalizations'}">
          <h2>Nominalizations</h2>
          <ul>
            <li>verbs as nouns</li>
          </ul>
          <p>A Nominalization is the use of a non-noun word as a noun. Verbs used as nouns sounds as if nothing is happening.  Strong writing uses verbs rather than turning them into nouns. This check highlights some verbs which are being used as nouns.</p>
        </div>
        <div class="misused-words-description description" ng-class="{'active': currentDefinition === 'misused-words'}">
          <h2>Common Misused Words</h2>
          <ul>
            <li>their/they're/there, your/you're, its/it's, whose/who's, accept/except, affect/effect, allusion/illusion, capital/capitol, climactic/climatic, elicit/illicit, emigrate/immigrate, principle/principal, than/then, to/too/two, lie/lay, set/sit, suppose to, use to, towards, anyways, could care less, intensive purposes</li>
          </ul>
          <p>These words and phrases are often misused. The list includes homonyms that get mixed up and other words and phrases that get used incorrectly. Double check them to make sure you used the correct word or phrase in each case. </p>
          <p>Further reading: <a href="http://wsuonline.weber.edu/wrh/words.htm">Common Misused Words and Phrases at Weber State University</a></p>
        </div>
        <div class="pronoun-description description" ng-class="{'active': currentDefinition === 'pronoun'}">
          <h2>Pronouns</h2>
          <ul>
            <li>he, she, it, they, we, you, I, that, this</li>
          </ul>
          <p>This test highlights pronouns in your writing. This allows you to check the pronouns for clarity. A pronoun should refer to a specific noun, be clear which noun it is referring to, and agree in number and in person with the noun it refers to. </p>
          <p>Further reading: <a href="http://www.msvu.ca/en/home/studentservices/academicadvisingsupport/writingresourcecentre/handouts/makingclearpronounreferences/default.aspx">Making Clear Pronoun References at Mount Saint Vincent University</a></p>
        </div>
        <div class="to-be-verbs-description description" ng-class="{'active': currentDefinition === 'to-be-verbs'}">
          <h2>To Be Verbs</h2>
          <ul>
            <li>am, is, are, was, were, be, been, being, have, has, had, do, does, did, shall, will, should, would, may, might, must, can, could</li>
          </ul>
          <p>This test highlights "to be verbs" in your writing. This allows you to check the to be verbs for clarity. Avoid weak to be verbs that only convey existence and not action. </p>
          <ul><li><em>Determining when a student <u>is</u> a problem makes the teacher’s job more interesting.</em></li><li><em>Determining when a student <u>creates</u> a problem makes the teacher’s job more interesting.</em></li></ul>
          <p>Further reading: <a href="https://www.grammar.com/verb-to-be/">Verb "To Be"</a></p>
        </div>
        <div class="pompous-words-description description" ng-class="{'active': currentDefinition === 'pompous-words'}">
          <h2>Pompous Words</h2>
          <ul>
            <li>notwithstanding vs despite</li>
          </ul>
          <p>This test highlights words hard or pompous words in your writing. Look to use 'every-day' english instead.</p>
          <p>Further reading: <a href="http://www.plainenglish.co.uk/the-a-z-of-alternative-words.html">Plain English words</a></p>
        </div>
        <div class="negative-words-description description" ng-class="{'active': currentDefinition === 'negative-words'}">
          <h2>Negative Words</h2>
          <ul>
            <li>I’m not lying to you.</li>
          </ul>
            <p>This test highlights words which can have a negative tone to them.  Look for positive language to replace negative (e.g. "I’m <i>not lying</i> to you" vs "I’m telling the truth.").</p>
            <p>Other Examples:</p>
            <ul>
                <li>"Our testing is <i>flawless</i>" vs "Our testing is <i>thorough</i>"</li>
                <li>"You <i>won't</i> find a better fit" vs "Our product is a perfect fit"</li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="row about">
    <div class="about-copy">
      <div class="content-box">
        <h2>About</h2>
        <div itemprop="description">
          <p>The purpose of this website is to highlight potential pitfalls in your writing and encourage good habits. Few of the things this tool highlights are hard and fast rules. Try to look at the output as a chance to think about your writing choices and see if there are areas for improvement.</p>
          <p>This website makes mistakes. It will miss things and there will be false positives in the results from time to time. This is not a replacement for careful editing. That said, I do hope this provides useful feedback to you. </p>
          <p>The article <a href="http://matt.might.net/articles/shell-scripts-for-passive-voice-weasel-words-duplicates/">3 shell scripts to improve your writing, or "My Ph.D. advisor rewrote himself in bash." by Matt Might</a> inspired this website. I have expanded on it to include other things I thought would be helpful.</p>
        </div>
      </div>
    </div>
    <div class="author-copy">
      <div class="content-box" itemprop="creator author" itemscope itemtype="https://schema.org/Person">
        <h3>Created by <span itemprop="name">Tyler Walters</span></h3>
        <div itemprop="description">
          <p>This website was created by Tyler Walters. He loves both web development and writing, which is convenient for this project. </p>
          <p>He writes about software development, other projects, and a lot more on his  <a href="http://tylerwalters.com" itemprop="url">personal website</a>.</p>
        </div>
        <p><a href="https://twitter.com/_twalters" title="Tyler Walters on Twitter" itemprop="url"><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp;&nbsp;<a href="https://github.com/tylerwalters/" title="Tyler Walters on Github" itemprop="url"><i class="fa fa-github-square fa-2x"></i></a></p>
        <p>The code powering this website is open source and available on GitHub: <a href="https://github.com/tylerwalters/editsaurus">Editsaurus</a>.</p>
      </div>
    </div>
  </div>
</div>





<div>
  <textarea id="page" placeholder="Paste here, scroll down."></textarea>
  <div id="stats-container">
    <div class="word-count main-stat">0</div>
    <div class="main-stat-text"><h1>words</h1></div>
    <div id="minor-stats-container">
      <table>
        <tbody><tr>
          <td><div class="minor-stat"><span class="cliche-count">0</span> clichés<span class="beta-text">APPROX.</span></div></td>
          <td><div class="minor-stat"><span class="character-count">0</span> characters</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="avg-words-per-sentence-count">0</span> words per sentence (avg)</div></td>
          <td><div class="minor-stat"><span class="wordletter-count">0</span> letters per word</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="sentence-count">0</span> sentences</div></td>
          <td><div class="minor-stat"><span class="alphanumeric-count">0</span> alphanumeric characters</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="preposition-count">0</span> prepositions<span class="beta-text">APPROX.</span></div></td>
          <td><div class="minor-stat"><span class="paragraph-count">0</span> paragraphs</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="article-count">0</span> articles</div></td>
          <td><div class="minor-stat"><span class="paragraph-word-count">0</span> words per paragraph</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="letters-per-sentence">0</span> letters per sentence</div></td>
          <td><div class="minor-stat"><span class="syllables-per-sentence">0</span> syllables per sentence<span class="beta-text">APPROX.</span></div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="syllables-per-word">0</span> syllables per word<span class="beta-text">APPROX.</span></div></td>
          <td><div class="minor-stat"><span class="syllables-count">0</span> syllables, total<span class="beta-text">APPROX.</span></div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="alpha-count">0</span> letters, total</div></td>
          <td><div class="minor-stat"><span class="word-count">0</span> words, total</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="page-count-paperback">0</span> printed pages (Paperback)</div></td>
          <td><div class="minor-stat"><span class="page-count-a4">0</span> printed pages (A4)</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="to-be-verbs-count">0</span> "to be" verbs</div></td>
          <td><div class="minor-stat"><span class="pause-count">0</span> pauses</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="words-between-pauses">0</span> words between pauses</div></td>
          <td><div class="minor-stat"><span class="syllables-between-pauses">0</span> syllables between pauses</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="pauses-per-sentence">0</span> pauses per sentence</div></td>
          <td><div class="minor-stat"><span class="pronoun-count">0</span> pronouns<span class="beta-text">BETA</span></div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="contraction-count">0</span> contractions<span class="beta-text">BETA</span></div></td>
          <td><div class="minor-stat"><span class="simile-count">0</span> similes<span class="beta-text">BETA</span></div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="max-words-per-sentence-count">0</span> max sentence length (words)</div></td>
          <td><div class="minor-stat"><span class="min-words-per-sentence-count">0</span> min sentence length (words)</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="question-count">0</span> questions</div></td>
          <td><div class="minor-stat"><span class="question-sentence-ratio">0</span> question:sentence ratio</div></td>
        </tr>
        <tr>
          <td><div class="minor-stat"><span class="unique-word-count">0</span> unique words</div></td>
          <td><div class="minor-stat"><!--<a href="mailto:hello@josephrocca.com?subject=Count Wordsworth Stat Request&body=Thanks for your interest! Just shoot those ideas at me below:" style="color:#e36c31;border:none;">+ Request another stat or feature...</a>--></div></td>
        </tr>
        </tbody></table>
    </div>

    <div class="word-frequency-container">
      <p class="title">Most used words &amp; phrases:</p>
      <table>
        <tbody><tr>
          <td>Nothing yet.</td>
        </tr>
        </tbody></table>
      <p class="more-freq-word-button">+ More words...</p>
    </div>

    <div class="personal-pronouns">
      <p><span class="first"><span style="font-size:170%;font-weight:bold">0</span>% First person</span>, <span class="second"><span style="font-size:170%;font-weight:bold">0</span>% Second person</span>, <span class="third"><span style="font-size:170%;font-weight:bold">0</span>% Third person</span></p>
    </div>

    <div class="letter-frequencies">
      <div class="letter a">
        <div class="wrapper">
          <div data-number="0" data-letter="a" class="bar"></div>a
        </div>
      </div>
      <div class="letter b">
        <div class="wrapper">
          <div data-number="0" data-letter="b" class="bar"></div>b
        </div>
      </div>
      <div class="letter c">
        <div class="wrapper">
          <div data-number="0" data-letter="c" class="bar"></div>c
        </div>
      </div>
      <div class="letter d">
        <div class="wrapper">
          <div data-number="0" data-letter="d" class="bar"></div>d
        </div>
      </div>
      <div class="letter e">
        <div class="wrapper">
          <div data-number="0" data-letter="e" class="bar"></div>e
        </div>
      </div>
      <div class="letter f">
        <div class="wrapper">
          <div data-number="0" data-letter="f" class="bar"></div>f
        </div>
      </div>
      <div class="letter g">
        <div class="wrapper">
          <div data-number="0" data-letter="g" class="bar"></div>g
        </div>
      </div>
      <div class="letter h">
        <div class="wrapper">
          <div data-number="0" data-letter="h" class="bar"></div>h
        </div>
      </div>
      <div class="letter i">
        <div class="wrapper">
          <div data-number="0" data-letter="i" class="bar"></div>i
        </div>
      </div>
      <div class="letter j">
        <div class="wrapper">
          <div data-number="0" data-letter="j" class="bar"></div>j
        </div>
      </div>
      <div class="letter k">
        <div class="wrapper">
          <div data-number="0" data-letter="k" class="bar"></div>k
        </div>
      </div>
      <div class="letter l">
        <div class="wrapper">
          <div data-number="0" data-letter="l" class="bar"></div>l
        </div>
      </div>
      <div class="letter m">
        <div class="wrapper">
          <div data-number="0" data-letter="m" class="bar"></div>m
        </div>
      </div>
      <div class="letter n">
        <div class="wrapper">
          <div data-number="0" data-letter="n" class="bar"></div>n
        </div>
      </div>
      <div class="letter o">
        <div class="wrapper">
          <div data-number="0" data-letter="o" class="bar"></div>o
        </div>
      </div>
      <div class="letter p">
        <div class="wrapper">
          <div data-number="0" data-letter="p" class="bar"></div>p
        </div>
      </div>
      <div class="letter q">
        <div class="wrapper">
          <div data-number="0" data-letter="q" class="bar"></div>q
        </div>
      </div>
      <div class="letter r">
        <div class="wrapper">
          <div data-number="0" data-letter="r" class="bar"></div>r
        </div>
      </div>
      <div class="letter s">
        <div class="wrapper">
          <div data-number="0" data-letter="s" class="bar"></div>s
        </div>
      </div>
      <div class="letter t">
        <div class="wrapper">
          <div data-number="0" data-letter="t" class="bar"></div>t
        </div>
      </div>
      <div class="letter u">
        <div class="wrapper">
          <div data-number="0" data-letter="u" class="bar"></div>u
        </div>
      </div>
      <div class="letter v">
        <div class="wrapper">
          <div data-number="0" data-letter="v" class="bar"></div>v
        </div>
      </div>
      <div class="letter w">
        <div class="wrapper">
          <div data-number="0" data-letter="w" class="bar"></div>w
        </div>
      </div>
      <div class="letter x">
        <div class="wrapper">
          <div data-number="0" data-letter="x" class="bar"></div>x
        </div>
      </div>
      <div class="letter y">
        <div class="wrapper">
          <div data-number="0" data-letter="y" class="bar"></div>y
        </div>
      </div>
      <div class="letter z">
        <div class="wrapper">
          <div data-number="0" data-letter="z" class="bar"></div>z
        </div>
      </div>
      <p class="mouse-over-stat"><b>0</b> letters</p>
    </div>



    <div id="readability-container">
      <p class="title">Readability Scores:</p>
      <p class="flesch"><img class="bullet" src="images/bullet4square.png" alt="">Flesch Reading Ease<img class="line" style="width:100px;" src="images/line.png" alt=""> <span class="score">0</span></p>
      <p class="flesch-kincaid"><img class="bullet" src="images/bullet4square.png" alt="">Flesch–Kincaid Grade Level<img class="line" style="width:49px;" src="images/line.png" alt=""> <span class="score">0</span></p>
      <p class="dale-chall"><img class="bullet" src="images/bullet4square.png" alt="">Dale-Chall Formula<img class="line" style="width:110px;" src="images/line.png" alt=""> <span class="score">0</span></p>
      <p class="gunning-fog"><img class="bullet" src="images/bullet4square.png" alt="">Gunning Fog Index<img class="line" style="width:111px;" src="images/line.png" alt=""> <span class="score">0</span></p>
      <p class="forecast"><img class="bullet" src="images/bullet4square.png" alt="">FORECAST Grade Level<img class="line" style="width:78px;" src="images/line.png" alt=""> <span class="score">0</span></p>
      <p class="info"><a href="https://en.wikipedia.org/wiki/Readability" target="_blank">What are these?</a></p>
    </div>

    <!-- STANDARD DEVIATION STUFF -->
    <div class="stdev-container" style="margin-top: 130px;">
      <p class="title">Standard Deviations:</p>
      <div id="minor-stats-container" style="margin-top: 20px;">
        <table>
          <tbody><tr>
            <td><div class="minor-stat">characters per sentence: <span class="sentence-len-stdev">0</span></div></td>
            <td><div class="minor-stat">words per sentence: <span class="words-per-sentence-stdev">0</span></div></td>
          </tr>
          </tbody></table>
      </div>
      <br><br><br><br><br><br>

    </div>


    <div class="other-counters">
      <p class="link"><a href="/letters">letters</a></p>
      <p class="link"><a href="/characters">characters</a></p>
      <p class="link"><a href="/syllables">syllables</a></p>
      <p class="link"><a href="/paragraphs">paragraphs</a></p>
      <p class="link"><a href="/cliches">cliches</a></p>
      <p class="link"><a href="/wordspersentence">words per sentence</a></p>
      <p class="link"><a href="/sentences">sentences</a></p>
      <p class="link"><a href="/prepositions">prepositions</a></p>
      <p class="link"><a href="/letterspersentence">letters per sentence</a></p>
      <p class="link"><a href="/syllablesperword">syllables per word</a></p>
      <p class="link"><a href="/lettersperword">letters per word</a></p>
      <p class="link"><a href="/alphanumericcharacters">alpha-numeric characters</a></p>
      <p class="link"><a href="/wordsperparagraph">words per paragraph</a></p>
      <p class="link"><a href="/syllablespersentence">syllables per sentence</a></p>
    </div>

  </div>

  <div id="text-width-tester"></div>
  <script src="js/prepositions.js"></script>
  <script src="js/cliches.js"></script>
  <!--<script src="js/adverbs.js"></script>-->
  <script src="js/dalechallwordlist.js"></script>
  <script src="js/countwordsworth.js"></script>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.min.js"></script>
<script src="js/script.min.js"></script>
<script>
  window.addEventListener('load', function() {
      navigator.serviceWorker
      .register('./worker.js')
      .then(function() { console.log('Service Worker Registered'); })
      .catch(function (err) {
              console.log('ServiceWorker registration failed: ', err);
      });
  });
</script>

</body>
</html>
